.sec-4 {
  padding: 0;
  font-family: none;
}

.sec-4 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-flow: row wrap;
}

.sec-4 .container > :is(p, div) {
  font-size: 25px;
  width: calc((100% / 3) - 60px);
}
.sec-4 .container > p:nth-child(2) {
  margin-top: 200px;
}

.sec-4 .container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 400px;
}

@media (width < 1175px) {
  .sec-4 .container > :is(p, div) {
    width: 400px;
  }
  .sec-4 .container > div {
    margin-top: 0;
  }
}
@media (width < 956px) {
  .sec-4 .container > p:nth-child(2) {
    margin-top: 20px;
  }
}

@media (width < 515px) {
  .sec-4 .container :is(div, p) {
    width: 100%;
  }
}
